<ion-content>

  <!--UpperCard-->
  <ion-card color="primary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-icon name="lock-closed-outline" size="large"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center"><ion-card-title>Login</ion-card-title></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!--InputFields-->
  <ion-card color="primary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="ion-item">
              <ion-label position="floating" color="primary">Usuario</ion-label>
              <ion-input type="text" id="input-username"></ion-input>
              <button id="btn-clear-username" slot="end">
                <ion-icon name="close-outline" size="small" color="danger"></ion-icon>
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-item">
              <ion-label position="floating" color="primary">Contraseña</ion-label>
              <ion-input type="password" id="input-password"></ion-input>
              <button id="btn-clear-password" slot="end">
                <ion-icon name="close-outline" size="small" color="danger"></ion-icon>
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--Buttons-->
        <ion-row>
          <ion-col class="ion-text-start">
            <ion-button id="btn-forgot-password" color="secondary">Olvidaste tu contraseña?</ion-button>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button id="btn-login" color="success" routerLink="/home">Login</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card color="primary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="ion-item" color="primary">
              <ion-list id="input-list"></ion-list>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--FooterCard-->
<ion-footer class="ion-no-border">
  <ion-card color="primary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-icon name="lock-open-outline" size="large"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center"><ion-card-title>Registrarse</ion-card-title></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button id="btn-no-account-yet" color="secondary">No tienes una cuenta?</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-footer>