<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/migone.jpeg"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Migone</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/amsa.png"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Amsa</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/sebastian.png"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>San Sebastían</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/julia.jpeg"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Santa Julia</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/lucas.jpeg"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>San Lucas</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/britanico.jpeg"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Británico</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  
</ion-grid>
