<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reserva de turno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre:</ion-label>
      <ion-input [clearInput]="true" placeholder="Escriba el nombre" id="nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Apellido:</ion-label>
      <ion-input [clearOnEdit]="true" placeholder="Escriba el apellido" id="apellido"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Sanatorio:</ion-label>
      
          <ion-select interface="popover" id="sanatorio" placeholder="Seleccionar Sanatorio">
            <ion-select-option value="Migone">Migone</ion-select-option>
            <ion-select-option value="Amsa">Amsa</ion-select-option>
            <ion-select-option value="San Sebastian">San Sebastian</ion-select-option>
            <ion-select-option value="Britanico">Sanatorio Britanico</ion-select-option>
            <ion-select-option value="Santa Julia">Santa Julia</ion-select-option>
            <ion-select-option value="San Lucas">San Lucas</ion-select-option>
          </ion-select>
       
    </ion-item>

    <ion-item counter="true">
      <ion-label position="floating">Tel/Cel:</ion-label>
      <ion-input type="number" id="nro_cel" maxlength="20"></ion-input>
    </ion-item>
    
    <ion-item id="custom-item" counter="true">
      <ion-label position="stacked">Fecha:</ion-label>
      <ion-input type="date" id="fecha"></ion-input>
    </ion-item>
    <ion-item id="custom-item" counter="true">
      <ion-label position="stacked">Hora:</ion-label>
      <ion-input type="time" id="hora"></ion-input>
    </ion-item>

    <ion-button (click)="enviar()">Enviar</ion-button>
  </ion-list>

  <!-- Modal -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Resumen</ion-title>
    </ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Total a pagar</ion-card-title>
        <ion-card-subtitle>Consulta seleccionada</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Producto</ion-col>
            <ion-col></ion-col>
            <ion-col>100000Gs.</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Producto</ion-col>
            <ion-col></ion-col>
            <ion-col>25000Gs.</ion-col>
          </ion-row>
          <ion-row>
            <ion-item-divider></ion-item-divider>
          </ion-row>
          <ion-row>
            <ion-col>Total</ion-col>
            <ion-col></ion-col>
            <ion-col>125000Gs.</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button id="open-modal" expand="block">Pagar</ion-button>
    <p>Mensaje</p>
    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-title>Solicitar pago</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Ingrese su nombre</ion-label>
            <ion-input type="text" placeholder="Tu nombre" [(ngModel)]="name"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-content>
