<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/11.png"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Opcion 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/11.png"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Opcion 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/11.png"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Opcion 3</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/11.png"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Opcion 4</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/11.png"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Opcion 5</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <img
          alt="Silhouette of mountains"
          src="../../assets/empresas/11.png"
          routerLink="/pageone"
          
        />
        <ion-card-header>
          <ion-card-title>Opcion 6</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  
</ion-grid>
