<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Pediatría 100.000</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dr Juan Perez
      </div>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dr David Gonzalez
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Geriatria 120.000</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dr Genaro Martinez
      </div>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dra Romina Guanes
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Ginecologia 100.000</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dra Jimena Britez
      </div>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dra Dorys Segovia
      </div>
    </ion-accordion>
    <ion-accordion value="cuarto">
      <ion-item slot="header" color="light">
        <ion-label>Cardiologia 120.000</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dr Hyun Bun Ho
      </div>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dr Hernando Utz
      </div>
    </ion-accordion>
    <ion-accordion value="quinto">
      <ion-item slot="header" color="light">
        <ion-label>Clinica Medica 100.000</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dr Milton Diaz
      </div>
      <div class="ion-padding" slot="content" routerLink="/form1">
        - Dr Cancio Benitez
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
